**Nazirzoda Rahimjon**

**Interim project**

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [3]:
url = r'https://somon.tj/nedvizhimost/prodazha-kvartir/'
print(requests.get(url))

<Response [200]>

In [5]:
url = r'https://somon.tj/nedvizhimost/prodazha-kvartir/'
html_file = requests.get(url)

In [7]:
with open ('flat_page1.html', 'w', encoding = 'utf-8') as file:
    file.write(html_file.text)

In [9]:
with open('flat_page1.html', 'r', encoding='utf-8') as file:
    flat_page1 = file.read()

soup = BeautifulSoup(flat_page1)

**The price of flats from the first page**

In [12]:
price_of_flat = []

for price in soup.find_all('a', class_='advert__content-price _not-title'):
    
    price = price.text.replace('c.', '')
    price = price.strip()
    price = price.split()
    if len(price) == 2 or len(price) == 3: 
        price_of_flat.append(int(''.join(price)))
    else:
        if len(price) == 4:
            price_of_flat.append(int(''.join(price[:2])))
        elif len(price) == 6:
            price_of_flat.append(int(''.join(price[:3])))

        else:
            price_of_flat.append(0)

In [14]:
price_of_flat

[770000,
 820000,
 210000,
 595000,
 750000,
 550000,
 399000,
 1570000,
 620000,
 0,
 752100,
 245000,
 660000,
 590000,
 310000,
 1040000,
 295500,
 1210000,
 744000,
 320000,
 1490000,
 1428350,
 1120000,
 380000,
 743000,
 1355000,
 560000,
 670000,
 680000,
 1243000,
 1390000,
 180000,
 170000,
 847000,
 550000,
 680000,
 1499000,
 1397000,
 450000,
 684000,
 1164000,
 980000,
 850000,
 1712000,
 470000,
 210000,
 300000,
 410000,
 741000,
 150000,
 970000,
 900000,
 445000,
 630000,
 780000,
 540000,
 750000,
 1900000,
 258500,
 479000]

**Floor and rooms**

In [17]:
def remove_text_numbers(string):
    result = re.sub(r'[advert__content-title]', '', string)
    return result

In [19]:
rooms_of_flat = []
floor_of_flat = []


for title in soup('a', class_='advert__content-title'):

    title = title.text.strip()
    title_parts = title.split(', ')
    if len(title_parts) > 0:
        room_match = re.search(r'\d+', title_parts[0])
    if room_match:
        rooms_of_flat.append(int(room_match.group()))
    numbers = re.findall(r'\d+', title)
    if len(numbers) >= 2:
        floor_of_flat.append(int(numbers[1]))

In [21]:
rooms_of_flat

[2,
 2,
 3,
 1,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 2,
 1,
 1,
 3,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 2,
 2,
 5,
 1,
 2]

In [23]:
floor_of_flat

[4,
 8,
 1,
 13,
 1,
 12,
 15,
 7,
 12,
 2,
 10,
 9,
 12,
 11,
 1,
 4,
 9,
 11,
 17,
 6,
 9,
 11,
 14,
 1,
 12,
 9,
 4,
 6,
 12,
 13,
 9,
 45,
 38,
 12,
 6,
 6,
 12,
 11,
 4,
 6,
 3,
 3,
 15,
 11,
 9,
 1,
 7,
 3,
 7,
 33,
 8,
 14,
 11,
 14,
 4,
 14,
 7,
 7,
 6,
 3]

In [25]:
area_of_flat = []
address_of_flat = []

for title in soup('a', class_='advert__content-title'):

    title = title.text.strip()
    title_parts = title.split(', ')
    area_match = re.search(r'(\d+)\s*м²', title)
    if area_match:
        area_of_flat.append(int(area_match.group(1)))
    if len(title_parts) > 2:
        address_of_flat.append(title_parts[-1])

In [27]:
area_of_flat

[72,
 100,
 80,
 75,
 101,
 36,
 64,
 119,
 48,
 80,
 68,
 63,
 80,
 89,
 41,
 72,
 69,
 96,
 65,
 52,
 124,
 98,
 91,
 46,
 104,
 112,
 64,
 76,
 83,
 94,
 111,
 45,
 38,
 60,
 82,
 74,
 90,
 95,
 38,
 65,
 126,
 86,
 122,
 160,
 76,
 35,
 37,
 98,
 95,
 33,
 65,
 96,
 60,
 88,
 78,
 65,
 75,
 180,
 53,
 60]

In [29]:
address_of_flat

['Шохмансур',
 'стадион Спартак',
 'шаҳраки Чорукдарон',
 'Шоҳмансур',
 'Сино',
 'Исмоили Сомони',
 'шохмансур',
 'Сафо',
 'Исмоили Сомони',
 'Шохмансур',
 'Сино',
 'Фарханг',
 'Молодёжный театр',
 'Сино',
 'пушти Запарож',
 'ул Айни',
 'Сино',
 'РТСУ',
 'Молодежный театр',
 'Фирдавси',
 'Старый Аэропорт',
 'Исмоили Сомони',
 'Шохмансур',
 'Яхмоси 33',
 'Шохмансур',
 '102мкр',
 'Мости 82 микрорайон',
 'Мости 82 микрорайон',
 'Мости 82 микрорайон',
 'Пайкар Голубой экран министерства транспорта',
 'Шохпалас проспект Рудаки',
 '8 мкр',
 '8 мкр',
 '82 мкр',
 'Сино',
 '8мкр',
 'Дом печать',
 'Дом печати',
 'Маяковский',
 'Зарафшон 1',
 'напротив Пайкар',
 'Сино',
 'Сино',
 'Гранд отель',
 'Сино',
 '31 микрорайон',
 '18 мкр',
 'Рудаки',
 '33 мкр',
 'Борбад 93',
 'Опера и балет (зелёный базар)',
 'Шохмансур',
 'Сомони',
 'И. Сомони',
 '102 мкр',
 'Молодёжный театр',
 'Фирдавси (базар Гипрозем)',
 'Шохмансур',
 '20 солаги истиклолият',
 'Шоҳмансур']

**City**

In [32]:
city_of_flat = []

for city in soup('div', class_='advert__content-place'):
    city = city.text.strip().title()
    city_of_flat.append(city)

In [34]:
city_of_flat

['Душанбе',
 'Душанбе',
 'Гулистон (Кайраккум)',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Бободжон Гафуров',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Худжанд',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Худжанд',
 'Худжанд',
 'Душанбе',
 'Душанбе',
 'Худжанд',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Худжанд',
 'Худжанд',
 'Рудаки',
 'Худжанд',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Душанбе',
 'Вахдат',
 'Душанбе']

In [36]:
print(
    f'price_of_flat, lenght - {len(price_of_flat)}',
    f'rooms_of_flat, lenght - {len(rooms_of_flat)}',
    f'floor_of_flat, lenght - {len(floor_of_flat)}',
    f'area_of_flat, lenght - {len(area_of_flat)}',
    f'address_of_flat, lenght - {len(address_of_flat)}',
    f'city_of_flat, lenght - {len(city_of_flat)}',
    sep='\n'

)

price_of_flat, lenght - 60
rooms_of_flat, lenght - 60
floor_of_flat, lenght - 60
area_of_flat, lenght - 60
address_of_flat, lenght - 60
city_of_flat, lenght - 60

In [38]:
d = {'price':price_of_flat,
    'rooms':rooms_of_flat,
    'floor':floor_of_flat,
    'area(m2)':area_of_flat,
    'address':address_of_flat,
    'city':city_of_flat}
df = pd.DataFrame(d)

In [40]:
for i in range(2, 40):
    url = f'https://somon.tj/nedvizhimost/prodazha-kvartir/?page={i}'
    req = requests.get(url)

    with open (f'flat_page{i}.html', 'w', encoding='utf-8') as file:
        file.write(html_file.text)

In [41]:
price_of_flat2 = []
rooms_of_flat2 = []
floor_of_flat2 = []
area_of_flat2 = []
address_of_flat2 = []
city_of_flat2 = []

for i2 in range(2, 40):
    with open(f'flat_page{i2}.html', 'r', encoding='utf-8') as file:
        flat_page1 = file.read()

    soup = BeautifulSoup(flat_page1)


    for price in soup.find_all('a', class_='advert__content-price _not-title'):
        price = price.text.replace('c.', '')
        price = price.strip()
        price = price.split()
        if len(price) == 2 or len(price) == 3:
            price_of_flat2.append(int(''.join(price)))
        else:
            if len(price) == 4:
                price_of_flat2.append(int(''.join(price[:2])))
            elif len(price) == 6:
                price_of_flat2.append(int(''.join(price[:3])))
            else:
                price_of_flat2.append(0)
    
    
    for title in soup('a', class_='advert__content-title'):
    
        title = title.text.strip()
        title_parts = title.split(', ')
        if len(title_parts) > 0:
            room_match = re.search(r'\d+', title_parts[0])
            if room_match:
                rooms_of_flat2.append(int(room_match.group()))
        numbers = re.findall(r'\d+', title)
        if len(numbers) >= 2:
            floor_of_flat2.append(int(numbers[1]))
    
    
    for title in soup('a', class_='advert__content-title'):
    
        title = title.text.strip()
        title_parts = title.split(', ')
        area_match = re.search(r'(\d+)\s*м²', title)
        if area_match:
            area_of_flat2.append(int(area_match.group(1)))
    
        if len(title_parts) > 2:
            address_of_flat2.append(title_parts[-1])
    
    
    for city in soup('div', class_='advert__content-place'):
        city = city.text.strip().title()
        city_of_flat2.append(city)

In [44]:
print(
    f'price_of_flat, lenght - {len(price_of_flat2)}',
    f'rooms_of_flat, lenght - {len(rooms_of_flat2)}',
    f'floor_of_flat, lenght - {len(floor_of_flat2)}',
    f'area_of_flat, lenght - {len(area_of_flat2)}',
    f'address_of_flat, lenght - {len(address_of_flat2)}',
    f'city_of_flat, lenght - {len(city_of_flat2)}',
    sep='\n'

)

price_of_flat, lenght - 2280
rooms_of_flat, lenght - 2280
floor_of_flat, lenght - 2280
area_of_flat, lenght - 2280
address_of_flat, lenght - 2280
city_of_flat, lenght - 2280

In [46]:
d = {'price':price_of_flat+price_of_flat2,
    'rooms':rooms_of_flat+rooms_of_flat2,
    'floor':floor_of_flat+floor_of_flat2,
    'area(m2)':area_of_flat+area_of_flat2,
    'address':address_of_flat+address_of_flat2,
    'city':city_of_flat+city_of_flat2}
df = pd.DataFrame(d)

In [48]:
df

,price,rooms,floor,area(m2),address,city
0,770000,2,4,72,Шохмансур,Душанбе
1,820000,2,8,100,стадион Спартак,Душанбе
2,210000,3,1,80,шаҳраки Чорукдарон,Гулистон (Кайраккум)
3,595000,1,13,75,Шоҳмансур,Душанбе
4,750000,2,1,101,Сино,Душанбе
...,...,...,...,...,...,...
2335,540000,2,14,65,Молодёжный театр,Душанбе
2336,750000,2,7,75,Фирдавси (базар Гипрозем),Душанбе
2337,1900000,5,7,180,Шохмансур,Душанбе
2338,258500,1,6,53,20 солаги истиклолият,Вахдат
2339,479000,2,3,60,Шоҳмансур,Душанбе